:root {
    --first-background-color: #DDDFDE;
    --second-background-color: #FEEDE6;
    --third-background-color: #E1EEE8;
    --main-color: #414042;
    --link-color: #4a395a;
    --link-hover-color: #9b8ea8;
  }

@font-face {
    font-family: 'Garamond';
    src: url('./fonts/garamond.ttf');
}

@font-face {
    font-family: 'Garamond-Bold';
    src: url('./fonts/garamond-bold.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather-Regular.ttf');
}

@font-face {
    font-family: 'Merriweather-Bold';
    src: url('./fonts/Merriweather-Bold.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: var(--link-color)
}

a:hover {
    color: var(--link-hover-color);
}

li {
    list-style-type: none;
}

html {
    font-family: 'Merriweather', Times, serif;
    color: var(--main-color);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.8rem;
    background: linear-gradient(var(--first-background-color), var(--second-background-color));
}

#home, #contact, #education, #skills, #experience {   
    scroll-margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 950px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 5rem;
    background-color: white;
}

.header .wrapper {
    position: fixed;
    height: 50px;
    width: 950px;
    margin: 0 auto;
    padding: 0 7rem;
    line-height: 5rem;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
}

.header__navigation-mobile.hidden {
    display: none;
}

nav ul.navigation,
footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    font-family: 'Merriweather-Bold';
    font-size: 2.5rem;
}

nav a {
    text-transform: uppercase;
}

nav a i {
    font-size: 2.5rem;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 35px;
}

main > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather-Bold';
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.7rem;
}

h4 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

section {
    margin: 1.5rem;
}

section > div {
    margin-top: 1rem;
}

section p {
    text-indent: 1rem;
    line-height: 3rem;
}

.section-header {
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
    margin-bottom: 2rem;
}

.section-header h2 {
    font-family: 'Merriweather-Bold';
    letter-spacing: 3px;
    margin-left: 15px;
}

section:not(.contact) ul {
    border-left: 1px solid black;
    padding-left: 14px;
}

section:not(.contact) ul > li {
    margin-bottom: 1rem;
    list-style-type: disc;
}

section.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.about img {
    border-radius: 50%;
}

section.contact .contact__list-item > div {
    display: flex;
    align-items: center;
}

section.contact ul > li {
    margin-bottom: 2rem;
}

.contact__list i {
    font-size: 2.5rem;
    margin-right: 1rem;
}

.skills__content > div,
.experience__content > div {
    margin-bottom: 2rem;
}

@media (max-width: 1023px) {
    .container,
    .header .wrapper {
        width: 100vw;
    }

    main {
        grid-template-columns: 100%;
    }

    section {
        margin: 0.5rem;
    }
}

@media (max-width: 767px) {
    .header__navigation.hidden {
        display: none;
    }

    .header__navigation-mobile.hidden {
        display: block;
    }
}

@media (max-width: 424px) {
    .container {
        padding: 0 1rem;
    }
}

@media (max-width: 374px) {
    html {
        font-size: 8px;
    }

    section:not(.contact) ul {
        padding-left: 13px;
    }
}
